<h2>Modify User Profile</h2>

<!-- Create failure messages-->
<ul>{{#each messages}}
    <li>{{this}}</li>
{{/each}}
</ul>

<img id="preview" src="{{image}}">

<form action="/user/modify/{{user.username}}" method="POST"  enctype="multipart/form-data" >
    <input type="hidden" name="filename" id="filename">
    Message: <input type="text" name="message" id="message" value="{{user.message}}" placeholder="Message for visitors for your profile page"><br>
    Email: <input title="Please enter a valid email address." type="email" name="email" id="email" value='{{user.email}}' placeholder="{{user.email}}" required><br>
    Photo: <input type="file" id="photo" name="photo" accept="image/*"><br>
    <input type="submit" id="modify" value="Modify" onclick="return confirm('Do you want to modify your profile?')">
</form>

<a href="/user/users/{{user.username}}"><button onclick="return confirm('Cancel and go back to your profile page?')">Cancel</button></a>

<script>
    document.getElementById("photo").onchange = function () {
        let filename = document.getElementById("photo").files.item(0).name;
        document.getElementById('filename').value = String(filename);

        var reader = new FileReader();
        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("preview").src = e.target.result;
        };
        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    };
</script>