{{#if (equals profile_user.name user.name)}}
    <a href="/user/modify/{{user.username}}"><button onclick="return confirm('Do you want to modify your profile?')">Modify Profile</button></a>
{{/if}}

<h2>{{profile_user.username}}'s Profile</h2>

{{#if profile_user.message}}
    <h5>"{{profile_user.message}}"</h5>
{{/if}}
<p>Email: {{profile_user.email}}</p>
<p>Joined on: {{profile_user.sign_up_date}}</p>

<h4>Created recipes</h4>
{{#if created_recipes}}
    <ul>
        <!-- if user is the profile owner, show all created recipes -->
        {{#ifCond user.username '===' profile_user.username}}
            {{#each created_recipes}}
                <li class="created"><a href="/recipe/recipes/{{this.title}}">{{this.title}}</a></li>
            {{/each}}
        <!-- else, show only published created recipes -->
        {{else}}
            {{#each created_recipes}}
                {{#ifCond this.published '===' true}}
                    <li class="created"><a href="/recipe/recipes/{{this.title}}">{{this.title}}</a></li>
                {{/ifCond}}
            {{/each}}
        {{/ifCond}}
    </ul>
    <p id="no-created"></p>  <!-- use js to display as if there are no created recipes if nothing is published -->
{{else}}
    {{#if (equals profile_user.username user.username)}}
        <p>You don't have any recipes created yet.</p>
        <p>How about <a href="/recipe/create">create one now?</a></p>
    {{else}}
        <p>{{profile_user.username}} doesn't have any recipes created yet</p>
    {{/if}}
{{/if}}

<h4>Saved recipes</h4>
{{#if saved_recipes}}
    <ul>
        <!-- if user is the profile owner, show all saved recipes -->
        {{#ifCond user.username '===' profile_user.username}}
            {{#each saved_recipes}}
                <li class="saved"><a href="/recipe/recipes/{{this.title}}">{{this.title}}</a></li>
            {{/each}}
        {{else}}
            <!-- else, show only published saved recipes -->
            {{#each saved_recipes}}
                {{#ifCond this.published '===' true}}
                    <li class="saved"><a href="/recipe/recipes/{{this.title}}">{{this.title}}</a></li>
                {{/ifCond}}
            {{/each}}
        {{/ifCond}}
    </ul>
    <p id="no-saved"></p>    <!-- use js to display as if there are no created recipes if nothing is published -->
{{else}}
    {{#if (equals profile_user.username user.username)}}
        <p>You don't have any recipes saved yet.</p>
    {{else}}
        <p>{{profile_user.username}} doesn't have any recipes saved yet</p>
    {{/if}}
{{/if}}

<!-- display favorite & saved for the profile owner only -->
{{#if (equals user.username profile_user.username)}}

    <h3>Your favorite recipes</h3>
        {{#if favorite_recipes}}
            <ul>
                {{#each favorite_recipes}}
                    <li class="favorite"><a href="/recipe/recipes/{{this.title}}">{{this.title}}</a></li>
                {{/each}}
            </ul>
        {{else}}
            You have no favorite recipes
        {{/if}}

    <h3>You have rated</h3>
        {{#if rated_recipes}}
            <ul>
                {{#each rated_recipes}}
                    <li class="favorite"><a href="/recipe/recipes/{{this.title}}">{{this.title}}</a> Your rating: {{this.rating}}</li>
                {{/each}}
            </ul>
        {{else}}
            You have not rated any recipes
        {{/if}}

{{/if}}

<script>
    let created = document.getElementsByClassName('created').length;
    let saved = document.getElementsByClassName('saved').length;
    let no_created = document.getElementById('no-created');
    let no_saved = document.getElementById('no-saved');

    // If there are no published_created objects, display that there are no recipes created
    if (created < 1) {
        no_created.innerText = '{{profile_user.username}} doesn\'t have any recipes created yet'
    }
    // If there are no published_saved objects, display that there are no recipes saved
    if (saved < 1) {
        no_saved.innerText = '{{profile_user.username}} doesn\'t have any recipes saved yet'
    }
</script>