<h4>Search result for <span class="search-header">{{toUpper keyword}}</span> on <span class="search-header">{{toUpper site}}</span></h4>

{{#if recipes}}

    {{#each recipes}} <!-- display recipe title and ratings with click-able link -->
        <p><a href="{{this.link}}" class="external-link">{{this.title}} Rating: {{this.rating}}</a></p>
    {{/each}}

{{else}}
    No recipes found
{{/if}}

Page {{page}}

{{#if (greaterThan recipes.length 19)}}     <!-- next button will only show up if there still are 20 results on the page -->
    <form id='external-recipe-search-form' action="/recipe/external-search/{{site}}" method="POST" class="navigation-buttons">
        <input type="hidden" name="site" value={{site}}>
        <input type="hidden" name="keyword" value={{keyword}}>
        <input type="hidden" name="page" value={{add page 1}}>  <!-- current page +1 to search next page -->
        <input id='search-button' type="submit" value="Next">
    </form>
{{/if}}
{{#if (greaterThan page 1)}}    <!-- previous button will only show up if the current page is 2+ -->
    <form id='external-recipe-search-form' action="/recipe/external-search/{{site}}" method="POST" class="navigation-buttons">
        <input type="hidden" name="site" value={{site}}>
        <input type="hidden" name="keyword" value={{keyword}}>
        <input type="hidden" name="page" value={{add page -1}}>  <!-- current page -1 to search previous page -->
        <input id='search-button' type="submit" value="Previous">
    </form>
{{/if}}


<!-- The Modal reference from https://www.w3schools.com/howto/howto_css_modals.asp-->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span id="close-button">&times;</span>
            <h2>Modal Header</h2>
        </div>
        <div id="modal-body">
            11<!--<iframe width="100%" height="500px" frameborder="0" allowtransparency="true" src="https://www.allrecipes.com/recipe/223042/chicken-parmesan/"></iframe>-->
        </div>
        <div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>

</div>

<link rel='stylesheet' href='/stylesheets/modal.css' />
<script src="/javascripts/modal.js"></script>