<h2>Recipe Search</h2>

<form action="/recipe/search/" method="POST">
    <label for="keyword"></label><input type="search" id="keyword" name="keyword" placeholder="Search recipes with keywords" minlength="2" maxlength="100" required>
    <input type="submit" value="Search">
</form>
{{#if keyword}}
    <h4>Search result for <span class="search-header">{{toUpper keyword}}</span></h4>

    {{#if recipes}}
        {{#each recipes}}
            <p><a href="/recipe/recipes/{{this.title}}">{{this.title}}</a> by {{this.author}}</p>
        {{/each}}
    {{else}}
        There are no recipes that matches {{keyword}} keyword

    {{/if}}
{{/if}}

